.footer{
    background-color: black;
    padding: 20px 10px;
    overflow: hidden;
    
}

h2{
    color: azure;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}
a:hover{
    color: blue;
}
p{
    color: azure;
}